@using KRCars1298.Data.Models.ViewModels.AdViewModels;
@model AdDetailsBaseViewModel;

@{
    ViewData["Title"] = $"{Model.CarFullName}";
}

<h1>Details</h1>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Vehicle Type
        </dt>
        <dd class="col-sm-10">
            @Model.VehicleTypeName
        </dd>
        <dt class="col-sm-2">
            Brand
        </dt>
        <dd class="col-sm-10">
            @Model.BrandName
        </dd>
        <dt class="col-sm-2">
            Model
        </dt>
        <dd class="col-sm-10">
            @Model.ModelName
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ImageUrl" style="width: 30em; height: 15em"></img>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
