@using KRCars1298.Data.Models.ViewModels;
@model IEnumerable<AdsListViewModel>

@{
    ViewData["Title"] = "Ads";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Year
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                Fuel
            </th>
            <th>
                Price
            </th>
            <th>
                City
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Ad" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.CarFullName)
                </a>
            </td>
            <td>
                <img src="@item.ImageUrl" style="width: 10em; height: 5em"></img>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
        </tr>
}
    </tbody>
</table>
